---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import Navbarbottom from "../components/Navbar.svelte";
import data from "../components/dataksum.json";
import datapartners from "../components/datapartners.json";

import Selection from '../components/Selection.astro'

import Footer from '../components/Footer.astro'


---

<Layout title="LEAP | KERALA STARTUP MISSION">

<Navbar></Navbar>
<Navbarbottom client:load></Navbarbottom>

<main id="main pt-24">

    <section class="breadcumb-section mt-10">
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-12 center z-index1">
                    <h1 class="title md:text-7xl text-4xl font-extrabold uppercase">LEAP Membership</h1>
                    <img class="bcrumb-ab" src="./assets/images/page/mask-bcrumb.png" alt="">
                </div>
            </div>

        </div>
    </section>


    <section class="widget-adventure py-24">
       
        <div class="tf-container">
            <div class=" mb-10">
                <div>
                     <h2 class="title-heading font-extrabold text-4xl uppercase">LEAP Membership</h2>
                </div>
                <div class="pt-6 text-justify">
                    <p>
                        LEAP will offer well designed workspace, meeting rooms, high speed internet connectivity and other essential amenities  for a productive environment. Through LEAP membership KSUM aims to foster a vibrant community of like-minded individuals and startups, creating opportunities for collaboration, knowledge sharing and networking. LEAP will become a single access point for entrepreneurs to enter the startup ecosystem.

                    </p>
                </div>
             </div>
            <!-- <div class="row">
                <div class="mb-18">
                    <span class="sub-title-heading text-main fs-28-46 font-yes animated">What</span>
                    <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">we offer
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                       
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-hiking" role="tabpanel"
                                tabindex="0">
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-lg-3 group">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0 overflow-hidden rounded-md">
                                                <img src="/leap/22.avif"  alt="" class="group-hover:scale-125 duration-300 hover:rounded-md">
                                            </a>
                                            <div class="adventure-image">
                                                <h6 class="title-ad">
                                                    <a >Incubation Support</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0">
                                                <img src="/leap/11.jpg" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Co Working Space</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0">
                                                <img src="/leap/33.jpg" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Flexi Workstation</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3 flex">
                                        <div class="tf-adventure flex-three mb-43 float-start">
                                            <a  class="adventure-image flex-shrink-0">
                                                <img src="/leap/33.avif" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Meeting Rooms & 
                                                        Discussion Rooms</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0">
                                                <img src="/leap/44.jpg" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Plug and play
                                                        Workstations</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0">
                                                <img src="/leap/55.avif" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >High speed 
                                                        Internet</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3 group">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0 overflow-hidden rounded-md">
                                                <img src="/leap/77.jpg" alt="" class="group-hover:scale-125 duration-300 hover:rounded-md">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Funding Support</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0">
                                                <img src="/leap/66.avif" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Mentorship Support</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> -->
        
        
            <section class="widget-destination1 relative my-10">
                <img src="./assets/images/page/shape2.png" alt="image" class="shape-destination">
                <div class="tf-container">
                    <div class="row mb-10 z-index3 relative">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="mb-18">
                                    <span class="sub-title-heading text-main fs-28-46 font-yes animated">What</span>
                                    <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">we offer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" grid md:grid-cols-4 grid-cols-2 gap-4 items-center justify-center z-index3 relative">
                        <div class="destination-tour items-center justify-center center">
                            <a  class="destination-image w-full items-center justify-center">
                                <img src="/leap/22.avif" alt="">
                            </a>
                            
                            <div class="title-tour"><a >Incubation Support</a></div>
                        </div>
                        <div class="destination-tour center flex flex-col items-center justify-center">
                            <a  class="destination-image w-full items-center justify-center">
                                <img src="/leap/11.jpg" alt="">
                            </a>
                            
                            <div class="title-tour"><a >Co Working Space</a></div>
                        </div>
                        <div class="destination-tour center flex flex-col items-center justify-center">
                            <a  class="destination-image w-full items-center justify-center">
                                <img src="/leap/33.jpg" alt="">
                            </a>
                            
                            <div class="title-tour"><a >Flexi Workstation</a></div>
                        </div>
                        <div class="destination-tour center flex flex-col items-center justify-center">
                            <a  class="destination-image w-full items-center justify-center">
                                <img src="/leap/33.avif" alt="">
                            </a>
                            
                            <div class="title-tour"><a >Meeting Rooms & Discussion Rooms</a></div>
                        </div>
                    </div>
                    <div class="destination-grid z-index3 relative">
                       
                        <div class="destination-tour center flex flex-col items-center justify-center">
                            <a  class="destination-image w-full items-center justify-center">
                                <img src="/leap/44.jpg" alt="">
                            </a>
                            
                            <div class="title-tour"><a >Plug and play Workstations</a></div>
                        </div>
                        <div class="destination-tour center flex flex-col items-center justify-center">
                            <a  class="destination-image w-full items-center justify-center">
                                <img src="/leap/55.avif" alt="">
                            </a>
                            
                            <div class="title-tour"><a >High speed Internet</a></div>
                        </div>
                        <div class="destination-tour center flex flex-col items-center justify-center">
                            <a  class="destination-image w-full items-center justify-center">
                                <img src="/leap/77.jpg" alt="">
                            </a>
                            
                            <div class="title-tour"><a >Funding Support</a></div>
                        </div>
                        <div class="destination-tour center flex flex-col items-center justify-center">
                            <a  class="destination-image w-full items-center justify-center">
                                <img src="/leap/66.avif" alt="">
                            </a>
                            
                            <div class="title-tour"><a >Mentorship Support</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>


   <!-- <section class="tf-container">
        <div class=" mx-auto bg-white rounded-lg">
            <div class="row">
                <div class="mb-18">
                    <span class="sub-title-heading text-main fs-28-46 font-yes animated">What</span>
                    <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">LEAP membership details
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full border-collapse border border-gray-300 table-auto">
                    
                    <tbody>
                        <tr class="items-center justify-center  text-center">
                            <td class=" px-2 py-3 font-semibold w-1/4"></td>
                            <td class=" p-2 text-center"><img src="/leap/platinum.jpeg" class="items-center w-1/2 justify-center flex" alt="Product 1"></td>
                            <td class=" p-2 text-center"><img src="/leap/platinum.jpeg" class=" items-center w-1/2 justify-center flex" alt="Product 2"></td>
                        </tr>
                        <tr>
                            <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">1. </span></td>
                            <td class=" p-2 font-bold ">Gold Membership (₹1999)</td>
                            <td class=" p-2 font-bold">Platinum Membership (₹4999)</td>
                        </tr>
                        <tr>
                            <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">1. </span>Validity</td>
                            <td class=" p-2">12 Months</td>
                            <td class=" p-2">12 Months</td>
                        </tr>
                        <tr>
                            <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">1. </span>Free Flexi Seats Booking	</td>
                            <td class=" p-2">2 times per month (1 seat)</td>
                            <td class=" p-2">5 times per month (1 seat)</td>
                        </tr>
                        <tr>
                            <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">1. </span>
                                Subsidised rate on Additional Flexi Seat Bookings	
                            </td>
                            <td class=" p-2">
                                class="font-semibold text-green-500
                               <span>40%</span> subsidy on up to 2 seats (₹240/seat/day)	
                            </td>
                            <td class=" p-2">
                                <span>40%</span> subsidy on up to 2 seats (₹240/seat/day)
                            </td>
                        </tr>
                        <tr>
                            <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">1. </span>
                                Additional Flexi Seat Booking Charges
                            </td>
                            <td class=" p-2 ">
                                ₹400 per seat/day after free slots
                            </td>
                            <td class=" p-2">
                                ₹400 per seat/day after free slots
                            </td>
                        </tr>
                        <tr>
                            <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">1. </span>Meeting Room</td>
                            <td class=" p-2">
                                1 time free in a month After that 25% subsidy
                            </td>
                            <td class=" p-2">
                                2 time free in month After that 50% subsidy
                            </td>
                        </tr>
                        <tr>
                            <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">1. </span>Access to leap centers across the country - Owned by KSUM</td>
                            <td class=" p-2 ">Yes</td>
                            <td class=" p-2">Yes</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
   </section> -->



<section class="tf-container">
    <div class="mx-auto  rounded-lg">
        <!-- <div class="row">
            <div class="mb-18">
                <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">LEAP membership details</h2>
            </div>
        </div> -->
        <div class="overflow-x-auto">
            <table class="w-full border-collapse border border-gray-300 table-auto">
                <tbody>
                    <tr>
                        <td class=" px-2 py-3 font-semibold uppercase bg-gray-50 shadow-lg text-3xl  text-black">LEAP membership</td>
                        <td class=" p-2 font-bold bg-gold text-black uppercase text-xl bg-center text-center shadow-xl ">Gold Membership (₹1999)</td>
                        <td class="p-2 font-bold bg-platinum text-black uppercase text-xl bg-center text-center shadow-2xl  ">Platinum Membership (₹4999)</td>
                    </tr>
                    <tr>
                        <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">1. </span>Validity</td>
                        <td class=" p-2 bg-gold-light font-bold  ">12 Months</td>
                        <td class="  p-2 bg-platinum-light font-bold shadow-2xl shadow-white ">12 Months</td>
                    </tr>
                    <tr>
                        <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">2. </span>Free Flexi Seats Booking</td>
                        <td class=" p-2 bg-gold-light font-bold ">2 times per month (1 seat)</td>
                        <td class="  p-2 bg-platinum-light font-bold shadow-2xl shadow-white ">5 times per month (1 seat)</td>
                    </tr>
                    <tr>
                        <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">3. </span>Subsidised rate on Additional Flexi Seat Bookings</td>
                        <td class=" p-2 bg-gold-light font-bold ">
                            <span>40%</span> subsidy on up to 2 seats (₹240/seat/day)
                        </td>
                        <td class="  p-2 bg-platinum-light font-bold shadow-2xl shadow-white ">
                            <span>40%</span> subsidy on up to 2 seats (₹240/seat/day)
                        </td>
                    </tr>
                    <tr>
                        <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">4. </span>Additional Flexi Seat Booking Charges</td>
                        <td class=" p-2 bg-gold-light font-bold ">₹400 per seat/day after free slots</td>
                        <td class="  p-2 bg-platinum-light font-bold shadow-2xl shadow-white">₹400 per seat/day after free slots</td>
                    </tr>
                    <tr>
                        <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">5. </span>Meeting Room</td>
                        <td class=" p-2 bg-gold-light font-bold ">1 time free in a month After that 25% subsidy</td>
                        <td class="  p-2 bg-platinum-light font-bold shadow-2xl shadow-white ">2 times free in a month After that 50% subsidy</td>
                    </tr>
                    <tr>
                        <td class=" px-2 py-3 font-semibold my-auto"><span class=" text-2xl text-black">6. </span>Access to LEAP centers across the country - Owned by KSUM</td>
                        <td class=" p-2 bg-gold-light font-bold ">Yes</td>
                        <td class="  p-2 bg-platinum-light font-bold shadow-2xl shadow-white ">Yes</td>
                    </tr>
                    <tr>
                        <td class=" px-2 py-3 font-semibold uppercase bg-gray-50 shadow-lg"></td>
                        <td class=" px-2 py-3 font-semibold uppercase bg-gray-50 shadow-lg">
                            <div class=" flex justify-between items-center justify-center group">
                                <div class="flex flex-row gap-4">
                                    <a href="https://leap-portal.startupmission.in/login" target="_blank" class=" flex">
                                        GET MEMBERSHIP CARD
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 group-hover:translate-x-10 duration-300">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                        </svg>
                                    </a>
                                </div>
                                <div>
                                    <img src="/leap/golds.svg" class="w-14">
                                </div>
                           </div>
                        </td>                    
                        <td class=" px-2 py-3 font-semibold uppercase bg-gray-50 shadow-lg">
                           <div class=" flex justify-between items-center justify-center group">
                                <div class="flex flex-row gap-4">
                                    <a href="https://leap-portal.startupmission.in/login" target="_blank" class=" flex">
                                        GET MEMBERSHIP CARD
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 group-hover:translate-x-10 duration-300">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                        </svg>
                                    </a>
                                </div>
                                <div>
                                    <img src="/leap/platinums.svg" class="w-14">
                                </div>
                           </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>



<!-- 
<section class="relative tf-widget-activities pd-main overflow-hidden">
    <div class="tf-container">
        <div class="row z-index3 relative">
            <div class="col-lg-12 mb-60">
                <div class="clip-text">Activities</div>
            </div>
        </div>
    </div>
</section> -->



   <section class="widget-service-h5 relative pd-main">
    <div class="mask-home5"></div>
    <div class="tf-container">
        <div class="row al-i-end mb-10">
            <div class="col-md-5">
                
                <div class="row">
                    <div class="mb-18">
                        <span class="sub-title-heading text-main fs-28-46 font-yes animated">Application process for</span>
                        <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">LEAP Membership card</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <p class="">Applications for LEAP Membership can be submitted online by filling out the form and uploading the required documents. Applications will be verified and approved online, and incomplete submissions will be rejected.
                </p>
            </div>
        </div>
        <div class="row" style="display: flex; flex-wrap: wrap; align-items: stretch;">
            <div class="col-md-6 col-lg-3 " style="display: flex;">
                <div class="tf-icon-box icon-box-style1 relative" style="display: flex; flex-direction: column; height: 100%; flex-grow: 1;">
                    <div class="icon">
                        <i class="icon-Group4"></i>
                    </div>
                    <div class="content" style="flex-grow: 1;">
                         <h4 class="title-icon font-bold text-xl"><a href="#">Eligibility Criteria</a></h4>
                        <p class="des-icon text-[17px]"> Startups must have a KSUM Unique ID.</p>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-3 "  style="display: flex;">
                <div class="tf-icon-box icon-box-style1 relative" style="display: flex; flex-direction: column; height: 100%; flex-grow: 1;">
                    <div class="icon">
                        <i class="icon-Vector-6"></i>
                    </div>
                    <div class="content" style="flex-grow: 1;">
                        <h4 class="title-icon font-bold text-xl"><a href="#">Who Can Apply</a></h4>
                        <p class="des-icon text-[17px]">Individuals, entrepreneurs, and professionals looking to connect and collaborate with Kerala Startup Mission.</p>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-3 "  style="display: flex;">
                <div class="tf-icon-box icon-box-style1 relative" style="display: flex; flex-direction: column; height: 100%; flex-grow: 1;">
                    <div class="icon">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_40_476" style="mask-type:luminance"
                                maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                                height="40">
                                <path d="M0 0H40V40H0V0Z" fill="white" />
                            </mask>
                            <g mask="url(#mask0_40_476)">
                                <path d="M20 23.125V38.8281H38.8281V12.2656H34.1406"
                                    stroke="currentColor" stroke-width="2"
                                    stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M5.85938 12.2656H1.17188V38.8281H20V23.2031"
                                    stroke="currentColor" stroke-width="2"
                                    stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M26.9598 9.14062H34.1406V34.1406H26.5035C23.5528 34.1406 20.933 36.0287 20 38.8281"
                                    stroke="currentColor" stroke-width="2"
                                    stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M13.0402 9.14062H5.85938V34.1406H13.4965C16.4472 34.1406 19.067 36.0287 20 38.8281"
                                    stroke="currentColor" stroke-width="2"
                                    stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M20 1.17188C14.6974 1.17188 11.3111 6.82758 13.8151 11.5017L20 23.0469L26.1849 11.5017C28.6889 6.82758 25.3027 1.17188 20 1.17188Z"
                                    stroke="currentColor" stroke-width="2"
                                    stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M22.3438 8.20312C22.3438 9.4975 21.2944 10.5469 20 10.5469C18.7056 10.5469 17.6562 9.4975 17.6562 8.20312C17.6562 6.90875 18.7056 5.85937 20 5.85937C21.2944 5.85937 22.3438 6.90875 22.3438 8.20312Z"
                                    stroke="currentColor" stroke-width="2"
                                    stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </g>
                        </svg>
                    </div>
                    <div class="content" style="flex-grow: 1;">
                         <h4 class="title-icon font-bold text-xl"><a href="#">Required Documents</a></h4>
                        <p class="des-icon text-[17px]">Proof of identity<br>(Aadhaar, PAN, or Passport).</p>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-3 "  style="display: flex;">
                <div class="tf-icon-box icon-box-style1 relative" style="display: flex; flex-direction: column; height: 100%; flex-grow: 1;">
                    <div class="icon">
                        <i class="icon-insurance-1"></i>
                    </div>
                    <div class="content" style="flex-grow: 1;">
                         <h4 class="title-icon font-bold text-xl"><a href="#">Additional Requirement</a></h4>
                        <p class="des-icon text-[17px]">Relevant proof of startup, entrepreneurship, or professional affiliation.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-16 pb-24 w-full">
    <div class="tf-container">
        <div class=" flex justify-between">
            <div class=" flex-two z-index3 relative">
                <div class="sidebar-widget text-black">
                    <h6 class="block-heading text-black">For assistance contact
                    </h6>
                    <ul class="category-confidence">
                        <li class="flex-three gap-2">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                                </svg>
                            </div>
                            <span class="flex flex-row gap-2">
                                <span class="text-black">Rahul Shah - s.rahul@startupmission.in</span>
                            </span>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="flex-three btn-wrap-about ">
                <a href="https://leap-portal.startupmission.in/login" target="_blank" class="btn-main">
                    <p class="btn-main-text">Book Now</p>
                    <p class="iconer">
                        <i class="icon-arrow-right"></i>
                    </p>
                </a>
            </div>
        </div>
    </div>

</section>

 

   

    <Footer></Footer>

</main>
</Layout>
<style is:global>
    .scroll-hide::-webkit-scrollbar {
      display: none;
    }
</style>

<style is:global>
    .bg-gold {
        background-image: url('/leap/goldcard.jpg'); 
        background-size: cover;
        background-position: center;
    }

    .bg-platinum {
        background-image: url('/leap/platinum.jpg'); 
        background-size: cover;
        background-position: center;
        color: black;
    }

    .bg-gold-light {
        background-image: url('your-gold-light-image-url.jpg'); 
        background-size: cover;
        background-position: center;
        color: black;
    }

    .bg-platinum-light {
        background-image: url(''); 
        background-size: cover;
        background-position: center;
        color: black;
    }
</style>