   <header class="main-header header-style2 flex">
    <div id="header">
        <div class="header-top relative overflow-hidden">
            <div class="header-top-wrap flex-two">
                <div class="header-top-left">
                    <div class="follow-social flex-two">
                        <ul class="flex-two">
                            <li><a href="#"><i class="icon-icon-2"></i></a></li>
                            <li><a href="#"><i class="icon-icon_03"></i></a></li>
                            <li><a href="#"><i class="icon-x"></i></a></li>
                            <li><a href="#"><i class="icon-icon"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-top-right">
                    <ul class=" flex-three">
                        <li class="flex-three">
                            <i class="icon-day"></i>
                            <span>Thursday, Mar 26, 2021</span>
                        </li>
                        <li class="flex-three">
                            <i class="icon-mail"></i>
                            <span>support@example.com</span>
                        </li>
                        <li class="flex-three">
                            <i class="icon-phone"></i>
                            <span>684 555-0102 490</span>
                        </li>


                    </ul>
                </div>
                <div class="header-top-left flex-two">
                    <div class="follow-social flex-two">
                        <ul class="flex-two">
                            <li><a href="#"><i class="icon-icon-2"></i></a></li>
                            <li><a href="#"><i class="icon-icon_03"></i></a></li>
                            <li><a href="#"><i class="icon-x"></i></a></li>
                            <li><a href="#"><i class="icon-icon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <img src="./assets/images/page/mask-header-3.png" alt="image" class="mask-header3">
        </div>
     
    </div>

 

</header>
